@charset "utf-8";

/* Global styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #1c1c1c;
}

.dark {
    background-color: #1c1c1c;
    color: #f2f2f2;
}

.spoiler-btn {
    background-color: #333333;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
}

.spoiler-btn:hover {
    background-color: #666666;
}

.spoiler-content {
    max-height: 0;
    overflow: hidden;
    overflow-x: auto;
    transition: max-height 0.3s ease;
    max-width: 90%;
}

.tabcontent,
.tablinks {
    background-color: #f2f2f2;
    color: #1c1c1c;
}

.tabcontent.dark,
.tablinks.dark {
    background-color: #1c1c1c;
    color: #f2f2f2;
}

.tablinks,
.tablinks.dark {
    background-color: #f2f2f2;
    color: #1c1c1c;
}

.tablinks.active,
.tablinks:hover,
.tablinks.dark.active,
.tablinks.dark:hover {
    background-color: #ddd;
}

h2 {
    color: #444;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    text-shadow: 1px 1px 2px black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#thcaToThc {
    background-color: #b5e5b8;
}

#thcToThca {
    background-color: #9ad4f4;
}

button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: #3e8e41;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
#tempUnit {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#tempUnit select {
    border-radius: 1px;
    background-color: #fff;
}

#tempUnit:focus {
    outline: none;
    box-shadow: 0 0 5px #2196f3;
}

#tempUnit option {
    transition: all 0.3s ease-in-out;
}

#decarbTime {
    background-color: #ff7d7d;
}

#decarbProgress {
    background-color: #ffd75e;
}


#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, white, lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fade-out 0.5s ease-out 1.5s forwards;
}

#logo-container {
    width: 5%;
    padding-top: 5%;
    position: relative;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (prefers-color-scheme: dark) {
    #splash-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #4a4a49, black);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        animation: fade-out 0.5s ease-out 1.5s forwards;
    }

    .spoiler-btn {
        background-color: #fff;
        border: none;
        color: black;
        cursor: pointer;
        padding: 8px 16px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: background-color 0.3s ease;
    }

    .spoiler-btn:hover {
        background-color: #dddddd;
    }

    .spoiler-content {
        max-height: 0;
        overflow: hidden;
        overflow-x: auto;
        transition: max-height 0.3s ease;
        max-width: 90%;
    }

    #decarbTime {
        background-color: #7a4aa8;
    }

    #cartridgeIsolateCalculator {
        background-color: #682d77;
    }

    #decarbProgress {
        background-color: #a88c4a;
    }
    #thcaToThc {
        background-color: #4aa87a;
    }

    #thcToThca {
        background-color: #4a76a8;
    }

    #thcaToThc h2,
    #thcToThca h2,
    #cartridgeIsolateCalculator h2,
    #decarbProgress h2,
    #decarbTime h2 {
        color: #fff;
    }
}

#YieldSeparator,
#finderSeparator,
#progressSeparator {
    color: #000;
    border: none;
    height: 1px;
    margin: 20px 0;
    border-top: 1px solid #333;
}

#progressSeparator {
    color: #fff;
}

footer {
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footerLisc {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
}

#footerLisc:hover {
    background-color: #fff;
    color: #292929;
    transition: all 0.3s ease;
}

/* MATHJAX */

.MathJax_Display {
    font-size: 1em;
}

.container {
    width: 90%;
    max-width: 800px;
}

@media (max-width: 768px) {
    .container .MathJax_Display {
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }
}

/* Modal */
dialog {
    width: 70%;
    max-width: 700px;
    max-height: 675px;
    background-color: #fff;
    padding: 20px;
    position: fixed;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

#closeButton {
    background-color: #fff;
    color: #bdbdbd;
    border: none;
    padding: 0;
    position: sticky;
    border-radius: 0;
    cursor: pointer;
    margin-top: 0;
    text-align: right;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
}

dialog #closeButton:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

#cartridgeIsolateCalculator {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#calcForm,
#cartridgeIsolateCalculator form {
    margin-bottom: 20px;
}

#calcForm label,
#cartridgeIsolateCalculator form label {
    display: block;
    margin-bottom: 10px;
}

#calcForm input[type="number"],
#cartridgeIsolateCalculator form input[type="number"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
}

#calcForm button[type="button"],
#cartridgeIsolateCalculator form button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#calcResult {
    font-size: 18px;
}

#cartridgeIsolateCalculator form #calcResult {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #cartridgeIsolateCalculator {
        padding: 10px;
    }

    #calcForm label,
    #cartridgeIsolateCalculator form label {
        margin-bottom: 5px;
    }

    #calcForm input[type="number"],
    #cartridgeIsolateCalculator form input[type="number"] {
        padding: 6px;
        font-size: 14px;
    }

    #calcForm button[type="button"],
    #cartridgeIsolateCalculator form button[type="button"] {
        padding: 6px 12px;
        font-size: 14px;
    }

    #calcResult,
    #cartridgeIsolateCalculator form #calcResult {
        font-size: 16px;
    }
}


/* Mobiles */
@media screen and (min-width: 600px) {
    .tab button {
        width: 25%;
    }
}

@media (max-width: 900px) {
    #logo-container {
        width: 13%;
        padding-top: 15%;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    #logo-container {
        width: 20%;
        padding-top: 15%;
        position: relative;
    }

    .tab button {
        width: 100%;
    }

    .tab button.active,
    .tab button:focus,
    .tab button.active:focus {
        border: none;
    }

    #thcaToThcForm,
    #thcToThcaForm,
    #decarbTimeForm,
    #decarbProgressForm,
    #cartridgeIsolateCalculator form {
        max-width: 90%;
    }

    #decarbTimeForm input[type="number"] {
        pointer-events: auto;
    }

    #decarbProgressDescription,
    #thcaToThcResult,
    #thcToThcaResult,
    #decarbProgressResult,
    #cartridgeIsolateCalculator form #calcResult {
        max-width: 90%;
        margin-left: 0;
        margin-top: 20px;
    }

    label[for="completion"] {
        margin-bottom: 5px;
    }

    button[type="button"] {
        margin-top: 20px;
    }
}
